<!DOCTYPE html>
<html>
<head>
    <title>API voiture electrique</title>
</head>

<body>
    <h1>API voiture electrique</h1>
        <form id='test' action="{{ url_for("resultat")}}"" method='post'>
        <div>
        <label for="depart">depart:</label>
        <input type="text" id="depart" name="depart" />
        <div>
        <div>
        <label for="arrivee">arrivee:</label>
        <input type="text" id="arrivee" name="arrivee" />
        </div>
        <input type="submit">Submit</input>
        </form>
        </div>
        </form>
    {% block content %}
    {% endblock %}

</body>

</html>